{% extends '_base.html' %}


{% block body %}
   				
	
    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                        <h2 class="section-title">{{cat or "Todos"}}</h2>
                        <div class="product-carousel">
							{% for k in keyrings %}
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img height=314 width=250 src="/static/db/{{k.cat}}/{{k.code}}.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link" data-id="{{ k.code }}">
                                            <i class="fa fa-shopping-cart"></i> Añadir
                                        </a>
                                        <a href="/product/{{ k.code }}" class="view-details-link"><i class="fa fa-link"></i> Ver</a>
                                    </div>
                                </div>
                                
								<h5>MOD: <ins>{{k.code}}</ins></h5>
                                <h2><a href="single-product.html">{{ k.name }}</a></h2>
                                                     
                            </div>
							{% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- End main content area -->

{% endblock body %}
